{% extends "base.html" %}

{% block main_content %}


        <form action="" method="post" novalidate>
            
            <br />
            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name() }}
            {% for error in form.name.errors %}
                {{ error }}
            {% endfor %}
            <br />
            {{ form.price.label }}
            {{ form.price() }}
            {% for error in form.price.errors %}
                {{ error }}
            {% endfor %}
            <br />
            {{ form.image.label }}
            {{ form.image() }}
            {% for error in form.image.errors %}
                {{ error }}
            {% endfor %}
            <br />
            {{ form.description.label }}
            {{ form.description() }}
            {% for error in form.description.errors %}
                {{ error }}
            {% endfor %}
            <br />
            {{ form.submit() }}
            <br />
        </form>


        <p>{{ message }}</p>

  


{% endblock %}